@import url('font.css');

body{
    font-family: "Open Sans"!important;
    direction: rtl;
    text-align: right;
}
.navbar-nav{
    padding-right: 0!important;

}
label{
    left: initial !important;
    right: 0 !important;
}

.custom-control-label::before ,.custom-control-label::after{
    left: initial !important;
    right: -1.5rem !important;


}


.custom-control{
    padding-left:initial !important;
    padding-right: 1.5rem !important;
}
p{
    text-align: right;!important;
}
.controls-top{
    direction: ltr;!important;
}
.divider{
    width: 100% !important;
}
/*.navbar{*/
    /*direction: rtl;*/
/*}*/
/*.section-nav{*/
    /*direction: rtl;*/
/*}*/
/*h1,h2,h3,h4,h5,h6,p,strong,span,a{*/
    /*direction: rtl;*/
    /*float: right;*/
/*}*/